/*********************************
Sass Donut Mixin
Written by: Sean Stopnik
Email: thelifemgmt@gmail.com
*********************************/
.donut-chart {
  position: relative;
  font-family: sans-serif;
  border-radius: 50%;
  overflow: hidden;
}
.donut-chart .slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.donut-chart .chart-center {
  position: absolute;
  border-radius: 50%;
}
.donut-chart .chart-center span {
  display: block;
  text-align: center;
}
